
 
.grid {
    width: 100%;
    height: 100%;
    margin: 0 auto;
    background-color: #fff;
    padding: 10px 50px 50px 50px;
    border: 2px solid #cbcbcb;
    
}
 
#score {
    color: #DD356E;
    text-align: center;
    font-size: 30px;
}
 

.buttons {
    margin-top: 30px;
}
 
#btn0, #btn1, #btn2, #btn3 {
    background-color: #DD356E;
    width: 250px;
    font-size: 20px;
    color: #fff;
    margin: 10px 40px 10px 0px;
    padding: 10px 10px;
    border-radius: 12px;
}
 
#btn0:hover, #btn1:hover, #btn2:hover, #btn3:hover {
    cursor: pointer;
    background-color: #fff;
    color: #DD356E;
}
 
#btn0:focus, #btn1:focus, #btn2:focus, #btn3:focus {
    outline: 0;
}
 
#progress {
    color: #2b2b2b;
    font-size: 18px;
}